/* The side navigation menu */

.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: var(--backgroundColor);
    /* opacity: 0.9; */
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 1px 10px 10px 1px;
    transition: all 300ms ease-in;
    z-index: 3;
}

.emptyNotification {
    color: var(--fontColor);
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 105%;
    font-size: 1rem;
    line-height: 1.5rem;
}

.highlightText {
    color: var(--iconColor);
}

.newFold {
    cursor: pointer;
}

.plusText {
    font-size: 2rem;
    vertical-align: -2px;
}

#overlaySideBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 300ms ease-in;
    z-index: 2;
}

.displayNone {
    visibility: hidden;
    opacity: 0;
}

.displayBlock {
    visibility: visible;
    opacity: 1;
}

.sideBarClosed {
    margin-left: -180px;
}

.deletePage {
    display: flex;
    padding: 16px;
    color: var(--pageLink);
    text-decoration: none;
    transition: all 200ms ease;
    cursor: pointer;
    font-size: 0.7rem;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.deleteIcon {
    align-self: center;
    padding-bottom: .7px;
    color: var(--pageLink);
    transition: all 200ms ease;
}

.pageLink {
    color: var(--pageLink);
    text-decoration: none;
    transition: all 200ms ease;
    cursor: pointer;
    font-size: 0.9rem;
    word-break: break-word;
}

.deleteIcon:hover {
    color: var(--iconColor);
}

.deletePage.active {
    background-color: var(--pageLinkActive);
}

.deletePage.active>a {
    color: var(--iconColor);
}

.deletePage:hover:not(.active) {
    background-color: var(--pageLinkNotActive);
    color: var(--fontColor);
}